*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#main{
	height: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	position: relative;
}
#header{
	height: 10%;
	width: 100%;
	background: darkblue;
	position: fixed;
}
#content-area{
	margin-top: 10%;
	min-height: 100%;
	background: black;
}
#navbar{
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#navbar a{
	font-size: 3rem;
	color: white;
	text-decoration: none;
}
#about{
	color:  white;
	font-size: 4rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#works{
	background: coral;
	height: 40%;
}
#contacts{
	background: blueviolet;
	height: 20%;
	display: flex;
	align-items: center;
}
#contacts p{
	font-size: 4rem;
	color: white;
	display: inline;
	margin-left: 2rem;
}
#contacts a{
	color: white;
	margin: 1.5rem;
	font-size: 3.5rem;
	text-decoration-color: red;
}